/* FAQ.css */

.faq-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  .faq-item {
    margin-bottom: 20px;
  }
  
  .faq-question {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px;
    background: rgb(34, 126, 34);
    border-radius: 5px;
    transition: background 0.3s ease;
  }
  
  .faq-question:hover {
    background: #388e3c; /* Darken the color slightly on hover */
  }
  
  .faq-question.open {
    background: rgb(34, 126, 34); /* Keep the background green for the open state */
  }
  
  .faq-question h3 {
    margin: 0;
  }
  
  .faq-answer {
    margin-top: 10px;
    padding: 10px;
    background-color: #ffffff; /* White background for the answer box */
    border-radius: 5px;
    color: black; /* Set text color to black */
  }
  
  .heading {
    color: rgb(34, 126, 34); ;
  }
  